
html {background-color: #A13237}

.account-creation-page-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20%;
}

.account-creation-email-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.account-creation-password-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.account-creation-password-input > *{
  margin-top: 30px;
}

.input-box {
  font-size: 40pt;
}

input-box-error {
  font-size: 40pt;
}

/* .invalid { */
/*   font-size: 50pt; */
/*   color: red; */
/*   border: solid red 10px; */
/*   border-color: blue; */
/*   background-color: yellow; */
/* } */

.submitButton {
  width: 200px;
  height: 75px;
  font-size: 50px;
  background-color: #C5821F;
  border-color: #C5821F;

  margin-top: 50px;
}
