
.listings-page-parent {
    background-color: rgb(227, 220, 211);
}

.homeButton {
    width: 70px;
    height: 60px;
    font-size: 15px;
    color:black;
    background-color: #872b2f;
    /* border-color: #0c0000; */
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 7em;
    text-align: center;

}

.header {

    /* font-size: 100 px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background: #A13237;
    
}
.headerTxt {
    font-size: 55px;
    position:absolute;
    top:100px;    
    left:100px; 

}

.listings {
    
    
    font-size: 50 px;
    color: black;
    background-color: rgb(227, 220, 211);
}

/* .title {
    font-size: 150px;
    color: black;
    border: solid 15px;
    border-image:   linear-gradient(to right, white 0%, white 40%, black 40%, black 100%) 5;
} */